/********************************************************************
Global
********************************************************************/
.clear{
	clear:both;
}



/********************************************************************
Inputs
********************************************************************/

label{
	text-align:right;
}


/********************************************************************
Boxes
********************************************************************/
header{
	min-height:128px;
	margin-bottom:30px;
}

.container{
	max-width:1024px;
	}

#generator{
	min-height:256px;
}

#preview{
	width:256px;
	height:256px;
	padding:0;
}

#generator > div{
    padding:20px;
}

/********************************************************************
Content
********************************************************************/
#logo{
	float:left;
	margin-right: 20px;
}


#badge, #icon, #texts{
	background: no-repeat center center;
	background-size: 254px 254px;
	width:254px;
	height:254px;
	position:absolute;
	top:0;
	margin:auto;
}

#texts p{
    text-align:center;
    height:33%;
    width:256px;
    padding:2em
}

#mid_text{
    position:absolute;
    top:6em;
}

#bottom_text{
    position:absolute;
    top:11em;
}


/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
    padding:0;
}

.als-wrapper {
	list-style: none;
    padding:0;
}

.als-item {
	text-align: center;
	cursor: pointer;
	float: left;
    margin-right:8px;
    min-height:75px;
    min-width:75px;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
    top:30px;
}

.als-prev {
	left: 30px;
}

.als-next {
	right: 30px;
}

.thumb{
    width:100px;
    height:100px;
}


