/********************************************************************
Global
********************************************************************/
.clear{
	float:none;
	clear:both;
}

label{
	text-align:right;
}

#logo{
	float:left;
	margin-right: 20px;
}


/********************************************************************
Layout
********************************************************************/
header{
	min-height:128px;
	margin-bottom:30px;
}

.container{
	max-width:1024px;
	}

#generator{
	min-height:256px;
}

.panel{
	width:256px;
}

#preview{
	width:254px;
	height:276px;
	border-radius:0 0 4px 4px;
}

#generator > div{
    padding:20px;
}

/********************************************************************
Badge Content
********************************************************************/

#badge, #texts{
	background: no-repeat center center;
	background-size: 254px 254px;
	width:254px;
	height:254px;
	position:absolute;
	top:49px;
	margin:auto;
}

#icon{
    width:100px;
    height:100px;
    margin:75px;
    position:absolute;
    z-index:99;
}

#preview p{
    text-align:center;
    width:254px;
    position:absolute;
    z-index:100;
}


#top_text{
    position:absolute;
    top:5em;
}

#mid_text{
    position:absolute;
    top:10em;
}

#bottom_text{
    position:absolute;
    top:15em;
}



/********************************************************************
Generator 
********************************************************************/

.thumb{
    width:100px;
    height:100px;
	display:block;
	float:left;
}

.picker, .prev, .next{
	float:left;
	}
	
.next, .prev{
	top:40px;
	margin:10px;
	font-size:2em;
}

#text .form-control{
    margin:5px 0;
}

/*************************************
jquery resize elements
 ************************************/

.ui-icon { width: 16px; height: 16px; background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }








